@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  transition:
    background-color 0.3s,
    border 0.3s;
}

.FormRow:has(button) {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.font-sono {
  font-family: var(--fontFamily_Sono);
}

.recharts-pie-label-text {
  font-weight: 600;
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: var(--color-grey-300);
}
